{% extends "layouts.html"%} 
    {% block head %}
    <link rel="stylesheet" href="../static/create.css" />
    {% endblock %} 
        {% block body %}
    <div class="outer-container">
        <header>
            <nav>
              <a href="/create">Back to create team name</a>
            </nav>
          </header>
        <div class="container">
            <div class="inner-container">
                <h1>Change team password</h1>
                <img  class="image avatar" src="../static/img/7975662.png" alt="" width="60%" height="auto">
                <form action="/change_password" method="POST">
                <input type="text" name="team_name" required="required" placeholder="Team name" />
                <input type="password" name="new_password" required="required" placeholder="New team password" />
                <input class="button" type="submit" value="Create" />
                </form>
                {% with messages = get_flashed_messages() %} {% if messages %}
                <p class="flash">
                  {% for message in messages %}
                  {{ message }}
                  {% endfor %}
                </p>
                {% endif %} {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}